body{
background: black;
display: flex;
flex-direction: column;
margin: 0px;
}

/*header*/
header{
  background:  #5b7989;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*position: fixed;
  top: 0;*/
}

#head h1{
  color:white;
  text-shadow: 2px 2px 1px #02010a;
  padding-left: 1vw;
}

#head nav a{
  color: white;
  font-size: 20px;
  font-family: cursive;
  align-content: center;
  padding-right: 1vw;
}
/*-----*/
/*imagen central*/
#img_central{
  background:#82c3a6;
  display:flex;
  justify-content: center;
  /*align-content: center;*/
}

#img_central>img{
  align-items: center;
  padding-top:5vh;
  padding-left: 30vw;
  padding-right: 30vw;
  padding-bottom: 5vh;
}

figure{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
